@import "./reset.css";
@import "./animations.css";

/* Paleta de colores
rgb(0, 239, 227)
rgb(0, 206, 209)
rgb(36, 93, 128)
rgb(0, 173, 239)
rgb(12, 20, 66)
rgb(112, 0, 239)
rgb(175, 133, 224)
rgb(56, 239, 0)
rgb(0, 209, 0)
rgb(72, 109, 3)
rgb(3, 109, 91)
rgb(239, 135, 0)
rgb(146, 2, 2)
rgb(109, 3, 3)
*/

:root {
  --color_1: 228, 230, 231; /* rgb(228, 230, 231) */
  --color_2: 71, 71, 71;    /* rgb(71, 71, 71) */
  --color_3: 46, 46, 46;    /* rgb(46, 46, 46) */
  --color_4: 0, 239, 227;   /* rgb(0, 239, 227) */
  --color_5: 112, 0, 239;   /* rgb(112, 0, 239) */
  --color_6: 56, 239, 0;    /* rgb(56, 239, 0) */
  --color_7: rgba(3, 109, 91, 1);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  color: rgba(var(--color_1));
  overflow-x: hidden;
}

#particles-js {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
}

/*! Inicio Menú lateral */

.section_1__menu {
  z-index: 5;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  left: 25px;
  top: 50%;
  translate: 0 -50%;
  color: #fff;
}

.section_1__menu_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  min-width: 35px;
  min-height: 35px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom, rgba(var(--color_4), 0.5), #333333);
  box-shadow: 0 0 0px rgba(var(--color_4), 0.3),
              0 0 5px rgba(var(--color_4), 0.3),
              0 0 25px rgba(var(--color_4), 0.3),
              0 0 50px rgba(var(--color_4), 0.3);
  transition: transform 100ms ease, width 500ms ease, height 500ms ease;
}

.section_1__menu_button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: linear-gradient(to bottom, rgba(var(--color_4), 0.8), #333333);
  box-shadow: 0 0 0px rgba(var(--color_4), 0.5),
              0 0 5px rgba(var(--color_4), 0.5),
              0 0 25px rgba(var(--color_4), 0.5),
              0 0 50px rgba(var(--color_4), 0.5);
}

.section_1__menu_button_icon {
  width: 8vw;
  height: 8vw;
  min-width: 20px;
  min-height: 20px;
  max-width: 30px;
  max-height: 30px;
  pointer-events: none;
}

/*! Final Menú lateral */

/*! Inicio Section 1 - Pantalla de presentación */

.section_1 {
  opacity: 0;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 120px;
  width: 100%;
  height: 100vh;
  transition: 500ms ease;
}

.section_1__name {
  display: flex;
  flex-direction: column;
}

.section_1__h1 {
  font-size: 100px;
}

.section_1__h3 {
  margin-top: 1em;
  font-size: 50px;
}

.section_1__h2 {
  font-size:90px;
  letter-spacing: 0.1em;
  animation: glitch 3000ms infinite;
}

/* .section_1__img {
  z-index: 1;
  position: absolute;
  width: 100px;
  left: 150px;
  transform: rotate(90deg);
  animation: scrollDown 3000ms ease-in-out infinite;
} */

/*! Final Section 1 - Pantalla de presentación */

/*! Inicio Section 2 - Secciones de información */

.section_2 {
  opacity: 0;
  position: absolute;
  display: none;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 500ms ease;
}

/*? --- Inicio Section 2 Left - Perfil --- */

.section_2__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 100px;
}

.left__my_name {
  display: flex;
  flex-direction: column;
  row-gap: 1.2em;
}

.left__my_name_h2 {
  font-size: 32px;
  line-height: 1em;
  animation: glitch 3000ms infinite;
}

.left__my_name_h3 {
  font-size: 19px;
}

.left__content {
  display: flex;
  align-items: center;
}

.left__perfil {
  display: flex;
  align-items: center;
}

.left__perfil_networks {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3em;
}

.left__perfil_networks_images {
  position: relative;
  width: 350px;
  height: 450px;
  border-radius: 1em;
  overflow: hidden;
}

.left__perfil_networks_img_1,
.left__perfil_networks_img_2,
.left__perfil_networks_img_3 {
  position: absolute;
}

.left__perfil_networks_img_1 {
  width: 450px;
  height: 450px;
  transition: opacity 200ms ease;
}

.left__perfil_networks_img_2 {
  height: 300px;
  bottom: 0;
  transition: opacity 200ms ease;
  animation: fog 5000ms ease-in-out infinite;
}

.left__perfil_networks_img_3 {
  opacity: 0;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgba(var(--color_2), 0.3);
  box-shadow: 0 0 0px rgba(var(--color_2), 0.3),
              0 0 5px rgba(var(--color_2), 0.3),
              0 0 10px rgba(var(--color_2), 0.3),
              0 0 15px rgba(var(--color_2), 0.3);
  transition: opacity 200ms ease;
}

.left__perfil_networks_images:hover .left__perfil_networks_img_1,
.left__perfil_networks_images:hover .left__perfil_networks_img_2 {
  opacity: 0;
}

.left__perfil_networks_images:hover .left__perfil_networks_img_3 {
  opacity: 1;
}

.left__perfil_networks_icons {
  display: flex;
  column-gap: 5em;
}

/* .left__perfil_networks_link {} */

.left__perfil_networks_icon {
  width: 50px;
  border-radius: 0.3em;
  background-color: rgba(var(--color_4), 0.3);
  box-shadow: 0 0 0px rgba(var(--color_4), 0.3),
              0 0 5px rgba(var(--color_4), 0.3),
              0 0 25px rgba(var(--color_4), 0.3),
              0 0 50px rgba(var(--color_4), 0.3);
  transition: background-color 200ms ease, box-shadow 200ms ease;
}

.left__perfil_networks_icon:hover {
  cursor: pointer;
  background-color: rgba(var(--color_4), 0.8);
  box-shadow: 0 0 0px rgba(var(--color_4), 0.8),
              0 0 5px rgba(var(--color_4), 0.8),
              0 0 25px rgba(var(--color_4), 0.8),
              0 0 50px rgba(var(--color_4), 0.8);
}

.left__buttons {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

/* .left__button_1_link {} */

.left__button_1,
.left__button_2 {
  width: 250px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  transition: background-color 200ms ease,
              box-shadow 200ms ease,
              transform 100ms ease;
}

.left__button_1 {
  background-color: rgba(239, 0, 0, 0.5);
  box-shadow: 0 0 0px rgba(239, 0, 0, 0.5),
              0 0 5px rgba(239, 0, 0, 0.5),
              0 0 25px rgba(239, 0, 0, 0.5),
              0 0 50px rgba(239, 0, 0, 0.5);
}

.left__button_2 {
  background-color: rgba(0, 4, 239, 0.5);
  box-shadow: 0 0 0px rgba(0, 4, 239, 0.5),
              0 0 5px rgba(0, 4, 239, 0.5),
              0 0 25px rgba(0, 4, 239, 0.5),
              0 0 50px rgba(0, 4, 239, 0.5);
  animation: contact_me 3000ms ease-in-out infinite;
}

.left__button_1:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgba(239, 0, 0, 0.8);
  box-shadow: 0 0 0px rgba(239, 0, 0, 0.8),
              0 0 5px rgba(239, 0, 0, 0.8),
              0 0 25px rgba(239, 0, 0, 0.8),
              0 0 50px rgba(239, 0, 0, 0.8);
}

.left__button_2:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgba(0, 4, 239, 0.8);
  box-shadow: 0 0 0px rgba(0, 4, 239, 0.8),
              0 0 5px rgba(0, 4, 239, 0.8),
              0 0 25px rgba(0, 4, 239, 0.8),
              0 0 50px rgba(0, 4, 239, 0.8);
}

/*? --- Final Section 2 Left - Perfil --- */

/*? --- Inicio Section 2 Right - Información --- */

.section_2__right {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.right__section_1,
.right__section_2,
.right__section_3 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  transition: 500ms ease;
}

/** --- Inicio Right Section 1 - Bienvenida y sobre mí --- */

.right__section_1 {
  row-gap: 5em;
}

.right__section_1_h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 1em;
  color: rgba(var(--color_5));
  text-shadow: 0 0 0 rgba(var(--color_5), 0.5),
               0 0 5px rgba(var(--color_5), 0.5),
               0 0 25px rgba(var(--color_5), 0.5),
               0 0 50px rgba(var(--color_5), 0.5);
}

.right__section_1_p {
  margin-bottom: 100px;
  font-family: var(--tipo-secundaria);
  font-size: 25px;
  line-height: 1.4em;
}

.right__section_1_span {
  font-weight: 700;
  color: rgba(var(--color_5));
  text-shadow: 0 0 0 rgba(var(--color_5), 0.5),
               0 0 5px rgba(var(--color_5), 0.5),
               0 0 25px rgba(var(--color_5), 0.5),
               0 0 50px rgba(var(--color_5), 0.5);
}

/** --- Final Right Section 1 - Bienvenida y sobre mí --- */

/** --- Inicio Right Section 2 - Mis habilidades --- */

.right__section_2 {
  row-gap: 10em;
}

/* .right__section_1_h1 {} */

.right__section_2_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  width: 100%;
}

.right__section_2_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3em;
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 1em;
  background-color: rgba(var(--color_3));
}

.right__section_2_h2 {
  font-size: 30px;
  font-weight: 500;
  color: rgba(var(--color_5));
}

.right__section_2_ul {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  border-left: 1px solid;
  margin-left: 4em;
  padding-left: 1em;
}

.right__section_2_li {
  font-size: 20px;
  transition: translate 200ms ease, color 200ms ease, text-shadow 200ms ease;
}

.right__section_2_li:hover {
  translate: 10px 0;
  color: rgba(var(--color_5));
  text-shadow: 0 0 0px rgba(var(--color_5)),
              0 0 5px rgba(var(--color_5)),
              0 0 25px rgba(var(--color_5)),
              0 0 50px rgba(var(--color_5));
}

/* .right__section_2_link {} */

.right__section_2_button {
  width: 200px;
  margin-bottom: 100px;
  padding: 1em;
  border-radius: 0.3em;
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(to bottom, rgba(var(--color_5), 0.8), #333333);
  box-shadow: 0 0 0px rgba(var(--color_5), 0.5),
              0 0 5px rgba(var(--color_5), 0.5),
              0 0 25px rgba(var(--color_5), 0.5),
              0 0 50px rgba(var(--color_5), 0.5);
  transition: scale 200ms ease,
              box-shadow 200ms ease;
}

.right__section_2_button:hover {
  cursor: pointer;
  scale: 1.02;
  background: linear-gradient(to bottom, rgba(var(--color_5), 0.8), #333333);
  box-shadow: 0 0 0px rgba(var(--color_5), 0.8),
              0 0 5px rgba(var(--color_5), 0.8),
              0 0 25px rgba(var(--color_5), 0.8),
              0 0 50px rgba(var(--color_5), 0.8);
}

/** --- Final Right Section 2 - Mis habilidades --- */

/** --- Inicio Right Section 3 - Proyectos --- */

/* .right__section_3 {} */

/** --- Inicio Slider --- */
.contenedor-slider {
  position: relative;
  width: 100%;
  margin-top: 5em;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 400%;
  margin-bottom: 50px;
}

.slider__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3em;
  width: 100%;
}

.slider__img {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  border-radius: 1em;
}

.slider__h2 {
  font-size: 40px;
  line-height: 1.2em;
  color: rgba(var(--color_5));
  text-shadow: 0 0 0 rgba(var(--color_5), 0.5),
               0 0 5px rgba(var(--color_5), 0.5),
               0 0 25px rgba(var(--color_5), 0.5),
               0 0 50px rgba(var(--color_5), 0.5);
}

.slider_p_1 {
  width: 90%;
  font-size: 20px;
  line-height: 1.4em;
}

.slider__p_2 {
  width: 90%;
  font-size: 20px;
  line-height: 1.4em;
}

.slider__span {
  font-size: 30px;
  font-weight: 700;
  color: rgba(var(--color_5));
}

.btn-prev, .btn-next {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  background: linear-gradient(to bottom, rgba(var(--color_5), 0.8), #333333);
  box-shadow: 0 0 0px rgba(var(--color_5), 0.5),
              0 0 5px rgba(var(--color_5), 0.5),
              0 0 10px rgba(var(--color_5), 0.5),
              0 0 15px rgba(var(--color_5), 0.5);
  transition: background 200ms ease, box-shadow 200ms ease;
}

.btn-prev:hover, .btn-next:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(var(--color_5), 0.8), #333333);
  box-shadow: 0 0 0px rgba(var(--color_5), 0.8),
              0 0 5px rgba(var(--color_5), 0.8),
              0 0 10px rgba(var(--color_5), 0.8),
              0 0 15px rgba(var(--color_5), 0.8);
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}

/** --- Final Slider --- */

/** --- Final Right Section 3 - Proyectos --- */

/** --- Inicio Right Section 4 - Contacto --- */

.right__section_4 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5em;
  width: 90%;
  height: 100%;
  transition: 500ms ease;
}

.right__section_4_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3em;
  width: 100%;
  height: 100%;
  max-width: 829px;
  max-height: 522px;
  padding: 30px 0;
  margin-bottom: 100px;
  border-radius: 1em;
  background-color: rgba(var(--color_3));
}

.right__section_4_div {
  position: relative;
  width: 90%;
}

.right__section_4_input {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.5em;
  outline: none;
  background: transparent;
}

.right__section_4_label {
  position: absolute;
  top:0;
  left: 15px;
  padding: 12px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 500ms;
}

.right__section_4_input:focus ~ .right__section_4_label,
.right__section_4_input:valid ~ .right__section_4_label {
  top: -15px;
  padding: 0.5em;
  font-size: 12px;
  color: rgba(var(--color_5));
  background-color: rgba(var(--color_3));
}

.right__section_4_textarea {
  width: 100%;
  padding: 10px 10px;
  aspect-ratio: 3/1;
  border: 1px solid #fff;
  border-radius: 0.5em;
  font-size: 16px;
}

.right__section_4_textarea:focus ~ .right__section_4_label,
.right__section_4_textarea:valid ~ .right__section_4_label {
  top: -15px;
  padding: 0.5em;
  font-size: 12px;
  color: rgba(var(--color_5));
  background-color: rgba(var(--color_3));
}

.right__section_4_submit {
  padding: 0.6em 2em;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(to bottom, rgba(var(--color_5), 0.8), #333333);
  box-shadow: 0 0 0px rgba(var(--color_5), 0.5),
              0 0 5px rgba(var(--color_5), 0.5),
              0 0 25px rgba(var(--color_5), 0.5),
              0 0 50px rgba(var(--color_5), 0.5);
  transition: scale 200ms ease,
              box-shadow 200ms ease;
}

.right__section_4_submit:hover {
  cursor: pointer;
  scale: 1.02;
  background: linear-gradient(to bottom, rgba(var(--color_5), 0.8), #333333);
  box-shadow: 0 0 0px rgba(var(--color_5), 0.8),
              0 0 5px rgba(var(--color_5), 0.8),
              0 0 25px rgba(var(--color_5), 0.8),
              0 0 50px rgba(var(--color_5), 0.8);
}

/** --- Final Right Section 4 - Contacto --- */

/*? --- Final Section 2 Right - Información --- */

/*! Final Section 2 - Secciones de información */

/*! Inicio Clases añadidas con JavaScript */

.active {
  display: flex;
  opacity: 1;
}

.active_2 {
  display: flex;
}

.active_3 {
  background: linear-gradient(to bottom, rgba(var(--color_5), 0.8), #333333);
  box-shadow: 0 0 0px rgba(var(--color_5), 0.5),
              0 0 5px rgba(var(--color_5), 0.5),
              0 0 25px rgba(var(--color_5), 0.5),
              0 0 50px rgba(var(--color_5), 0.5);
}

.active_3:hover {
  background: linear-gradient(to bottom, rgba(var(--color_5), 0.8), #333333);
  box-shadow: 0 0 0px rgba(var(--color_5), 0.8),
              0 0 5px rgba(var(--color_5), 0.8),
              0 0 25px rgba(var(--color_5), 0.8),
              0 0 50px rgba(var(--color_5), 0.8);
}

/*! Final Clases añadidas con JavaScript */

/*! Inicio Media queries */

@media (max-width: 1910px) {
  .section_1 {
    row-gap: 6vw;
  }
  
  .section_1__h1 {
    font-size: 6vw;
    letter-spacing: 5px;
  }

  .section_1__h3 {
    margin-top: 1em;
    font-size: 3vw;
  }
  
  .section_1__h2 {
    font-size:6vw;
    animation: glitch 3000ms infinite;
  }
}

@media (max-width: 1425px) {
  .section_2 {
    flex-direction: column;
    row-gap: 7em;
    height: auto;
    padding-top: 50px;
  }

  .section_2__left {
    justify-content: flex-start;
    height: auto;
    padding-left: 0;
  }

  .right__section_1,
  .right__section_2,
  .right__section_3 {
    justify-content: center;
  }
}

@media (max-width: 1220px) {
  .section_1__menu {
    flex-direction: row;
    gap: 2vw;
    height: 0;
    top: initial;
    left: 49%;
    bottom: 50px;
    translate: -50% 0;
    color: #fff;
  }  
}

@media (max-width: 1130px) {

  .right__section_2_content {
    flex-wrap: wrap;
  }

  .right__section_2 {
    justify-content: flex-start;
  }
}

@media (max-width: 280px) {
  .section_2__left {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .left__my_name {
    row-gap: 1vw;
  }

  .left__my_name_h2 {
    font-size: 7.5vw;
  }

  .left__my_name_h3 {
    font-size: 5vw;
  }

  .left__perfil_networks_images {
    width: 35vw;
    height: 45vw;
    min-width: 200px;
    min-height: 300px;
    max-width: 350px;
    max-height: 450px;
  }

  .left__perfil_networks_img_1 {
    width: 45vw;
    height: 45vw;
    min-width: 200px;
    min-height: 300px;
  }
  
  .left__perfil_networks_img_2 {
    height: 30vw;
    min-height: 200px;
  }

  .left__perfil_networks_icons {
    column-gap: 7vw;
  }

  .left__perfil_networks_icon {
    width: 14vw;
  }

  .left__button_1,
  .left__button_2 {
    width: 70vw;
    height: 10vw;
    font-size: 5vw;
    font-weight: 700;
  }

  .right__section_1_h1 {
    text-align: center;
    font-size: 13vw;
    line-height: 1em;
  }

  .right__section_1_p {
    font-size: 5vw;
  }

  .right__section_2 {
    row-gap: 5em;
  }
  
  .right__section_2_content {
    gap: 2em;
  }

  .right__section_2_h2 {
    font-size: 25px;
  }

  .right__section_2_li {
    font-size: 15px;
  }

  .right__section_2_ul {
    row-gap: 1em;
  }

  .right__section_2_button {
    width: 60vw;
    padding: 1em;
    font-size: 6vw;
  }

  .slider__img {
    width: 80vw;
    margin: auto;
    border-radius: 1em;
  }

  .slider__h2 {
    text-align: center;
    font-size: 10vw;
    line-height: 1em;
  }
  
}

@media (max-height: 810px) {
  .section_2 {
    flex-direction: column;
    row-gap: 7em;
    height: auto;
    padding-top: 50px;
  }

  .section_2__left {
    justify-content: flex-start;
    height: auto;
    padding-left: 0;
  }

  .right__section_1,
  .right__section_2,
  .right__section_3 {
    justify-content: center;
  }
}

@media (max-height: 440px) {
  .section_1__menu_button {
    width: 3vw;
    height: 3vw;
  }

  .section_1__menu_button_icon {
    width: 3vw;
    height: 3vw;
  }
}

/*! Final Media queries */


/* Para este proyectos se usaron iconos e imágenes creadas por los siguientes artistas de Flaticon y Freepik */

/* <a href="https://www.flaticon.es/iconos-gratis/cometa" title="cometa iconos">Cometa iconos creados por Freepik - Flaticon</a> */